belt.json
[{"id":"100d3a36.d31996","type":"tab","label":"LentaNew","disabled":false,"info":""},{"id":"17ee9674.49bdaa","type":"function","z":"100d3a36.d31996","name":"Enable","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_enable') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;\n","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["1dba9d5e.9c82a3"]]},{"id":"6ef1ec94.66ac34","type":"function","z":"100d3a36.d31996","name":"Main","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_main') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["4704ed76.5658d4"]]},{"id":"8597fff9.8bdb1","type":"function","z":"100d3a36.d31996","name":"Forward","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_forward') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["c727293b.6bc188"]]},{"id":"3612d1bb.b35bae","type":"function","z":"100d3a36.d31996","name":"Backward","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_backward') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["ae68e05c.e85f8"]]},{"id":"91450045.efaa9","type":"function","z":"100d3a36.d31996","name":"Start","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_start') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["d69f0b7f.cb4e18"]]},{"id":"c1d23ecd.49a73","type":"function","z":"100d3a36.d31996","name":"Metal","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_metal') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["85f3bffa.82dd6"]]},{"id":"112b2684.6735b9","type":"function","z":"100d3a36.d31996","name":"Item","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_item') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["7763b048.a6f7"]]},{"id":"1548158c.4d835a","type":"function","z":"100d3a36.d31996","name":"Counter","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_counter') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":800,"wires":[["9db2fcde.a7617"]]},{"id":"be4ca974.a0e3e8","type":"function","z":"100d3a36.d31996","name":"End Metal","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_end_metal') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":840,"wires":[["4f19f74c.428328"]]},{"id":"851e2dd6.75d51","type":"function","z":"100d3a36.d31996","name":"Forward","func":"let workMode = flow.get('local_auto') || 0;\nlet backward = flow.get('output_backward') || 0;\nif(workMode === 0 && backward === 0) {\n    flow.set('button_forward', 1);\n}","outputs":1,"noerr":0,"x":320,"y":2000,"wires":[[]]},{"id":"7b94e82b.8f3b48","type":"function","z":"100d3a36.d31996","name":"Main","func":"let workMode = flow.get('local_auto') || 0;\nif(workMode === 0) {\n   flow.set('button_main', 1); \n}\n","outputs":1,"noerr":0,"x":310,"y":1960,"wires":[[]]},{"id":"5b7fdf4c.8f4bf","type":"function","z":"100d3a36.d31996","name":"Start","func":"flow.set('button_start', 1);","outputs":1,"noerr":0,"x":310,"y":2140,"wires":[[]]},{"id":"db2491f7.c4495","type":"function","z":"100d3a36.d31996","name":"Metal","func":"flow.set('button_metal', 1);","outputs":1,"noerr":0,"x":310,"y":2180,"wires":[[]]},{"id":"a68de64e.0743e8","type":"function","z":"100d3a36.d31996","name":"Item","func":"flow.set('button_item', 1);","outputs":1,"noerr":0,"x":310,"y":2220,"wires":[[]]},{"id":"53177a5e.294eb4","type":"function","z":"100d3a36.d31996","name":"Counter","func":"flow.set('button_counter', 1);","outputs":1,"noerr":0,"x":320,"y":2260,"wires":[[]]},{"id":"e070a02b.f41d2","type":"function","z":"100d3a36.d31996","name":"End Metal","func":"flow.set('button_end_metal', 1);","outputs":1,"noerr":0,"x":320,"y":2300,"wires":[[]]},{"id":"c0323da1.420ea","type":"function","z":"100d3a36.d31996","name":"Logic","func":"//let msg = {};\n//let flow = class{};\n//let global = class{};\n//let context = class{};\n\n//==========================================================\n\nlet sensorStart = flow.get('sensor_start') || 0;\nlet sensorMetal = flow.get('sensor_metal') || 0;\nlet sensorItem = flow.get('sensor_item') || 0;\nlet sensorCounter = flow.get('sensor_counter') || 0;\nlet sensorEndMetal = flow.get('sensor_end_metal') || 0;\nlet sensorEndItem = flow.get('sensor_end_item') || 0;\nlet flagEndItem = flow.get('flag_end_item') || 0;\nlet flag = flow.get('flag') || 0;\n\n//=========================================================\n\nlet ledEnable = flow.get('led_enable') || 0;\nlet ledRun = flow.get('led_run') || 0;\nlet ledAuto = flow.get('led_auto') || 0;\nlet ledMain = flow.get('led_main') || 0;\nlet ledForward = flow.get('led_forward') || 0;\nlet ledBackward = flow.get('led_backward') || 0;\nlet ledStart = flow.get('led_start') || 0;\nlet ledMetal = flow.get('led_metal') || 0;\nlet ledItem = flow.get('led_item') || 0;\nlet ledCounter = flow.get('led_counter') || 0;\nlet ledEndMetal = flow.get('led_end_metal') || 0;\nlet ledEndItem = flow.get('led_end_item') || 0;\n\n//=========================================================\n\nlet buttonAuto = flow.get('button_auto') || 0;\nlet buttonDeployment = flow.get('button_deployment') || 0;\nlet buttonRun = flow.get('button_run') || 0;\nlet buttonReset = flow.get('button_reset') || 0;\nlet buttonEnable = flow.get('button_enable') || 0;\nlet buttonMain = flow.get('button_main') || 0;\nlet buttonForward = flow.get('button_forward') || 0;\nlet buttonBackward = flow.get('button_backward') || 0;\nlet buttonStart = flow.get('button_start') || 0;\nlet buttonMetal = flow.get('button_metal') || 0;\nlet buttonItem = flow.get('button_item') || 0;\nlet buttonCounter = flow.get('button_counter') || 0;\nlet buttonEndMetal = flow.get('button_end_metal') || 0;\nlet buttonEndItem = flow.get('button_end_item') || 0;\n\n//=========================================================\n\nlet outputEnable = flow.get('output_enable') || 0;\nlet outputMain = flow.get('output_main') || 0;\nlet outputForward = flow.get('output_forward') || 0;\nlet outputBackward = flow.get('output_backward') || 0;\n\n//=========================================================\n\nlet localAuto = flow.get('local_auto') || 0;\nlet localRun = flow.get('local_run') || 0;\nlet localReset = flow.get('local_reset') || 0;\nlet localEndItem = flow.get('local_end_item') || 0;\n\n//=========================================================\n\nlet counterStart = flow.get('counter_start') || 0;\nlet templCounterMetal = flow.get('templ_counter_metal') || 0;\nlet templCounterItem = flow.get('templ_counter_item') || [];\nlet counterCounter = flow.get('counter_counter') || [];\nlet counterEnd = flow.get('counter_end') || [];\nlet counterTotal = global.get('counter_total') || 0;\nlet counterMetal = global.get('counter_metal') || 0;\nlet counterItem = global.get('counter_item') || 0;\nlet counterLiftMetal = global.get('counter_lift_metal') || 0;\nlet counterLiftItem = global.get('counter_lift_item') || 0;\n\n//=========================================================\n\nlet outputsMatrix = flow.get('outputs_matrix') || [];\nlet inputsMatrix = flow.get('inputs_matrix') || [];\nlet inputsStatus = flow.get('inputs_status') || [];\n//=========================================================\n\nlet timer1 = flow.get('timer1') || 0;\nlet timer2 = flow.get('timer2') || 0;\nlet delay1 = flow.get('delay1') || 0;\nlet delay2 = flow.get('delay2') || 0;\n\n//=========================================================\n\nlet msg1 = null;\nlet msg2 = null;\nlet msg3 = null;\n\n//=========================================================\n\nfunction runAuto(matrix, delay1, delay2, counterEnd, counterStart, templCounterItem, counterCounter) {\n    if((counterStart > 0 || templCounterMetal > 0 || templCounterItem.length > 0 || counterCounter.length > 0) && delay1 === 0) {\n        matrix = [1, 1, 0, 0];\n\n        if (counterEnd.length === 1 && counterStart === 0 && templCounterMetal === 0 && templCounterItem.length === 0) {\n            if(counterEnd[counterEnd.length - 1] === 1) {\n                matrix = [1, 1, 1, 0];\n            }\n            else {\n                matrix = [1, 1, 0, 1];\n            }\n            timer1 = 1;\n        }\n        flow.set('timer1', timer1);\n    }\n    if (delay1 === 1) {\n        matrix.splice(1, 1, 0);\n        //matrix = [1, 0, 0, 0];\n        timer1 = 0;\n        flow.set('timer1', timer1);\n    }\n    \n    return matrix;\n}\n\nfunction confirmOutputs(outputsMatrix) {\n    return {\n        'payload': {\n            'value': outputsMatrix,\n            'fc': 16,\n            'unitid': 1,\n            'address': 16384,\n            'quantity': 4\n        }\n    };\n}\n\nfunction confirmInputs(inputsMatrix) {\n    return {\n        'payload': {\n            'value': inputsMatrix,\n            'fc': 16,\n            'unitid': 1,\n            'address': 16388,\n            'quantity': 5\n        }\n    };\n}\n\nlet arr = [counterMetal, counterItem, templCounterMetal, templCounterItem.length, counterTotal, counterLiftMetal, counterLiftItem, counterStart, counterCounter.length, counterEnd.length];\n\nfunction initialMessage(msg, arr) {\n    msg.count_metal = arr[0];           //counterMetal;\n    msg.count_item = arr[1];            //counterItem;\n    msg.templ_count_metal = arr[2];     //templCounterMetal;\n    msg.templ_count_item = arr[3];      //templCounterItem.length;\n    msg.count_total = arr[4];           //counterTotal;\n    msg.count_lift_metal = arr[5];      //counterLiftMetal;\n    msg.count_lift_item = arr[6];       //counterLiftItem;\n    msg.count_start = arr[7];           //counterStart;\n    msg.count_counter = arr[8];         //counterCounter.length;\n    msg.count_end = arr[9];             //counterEnd.length;\n\n    return msg;\n}\n\n//==========================================================\n//  Initial state\n//==========================================================\n\nlet statusInitial = context.get('status_initial') || false;\nlet isFirst = flow.get('initial') || 0;\nif (isFirst === 1 && statusInitial === false) {\n    \n    let timer1 = 0;\n    flow.set('timer1', timer1); \n    let timer2 = 0;\n    flow.set('timer2', timer2); \n    let delay1 = 0;\n    flow.set('delay1', delay1); \n    let delay2 = 0;\n    flow.set('delay2', delay2); \n    \n//==========================================================\n    sensorStart = inputsStatus[4];\n    flow.set('sensor_start', sensorStart);\n    sensorMetal = inputsStatus[5];\n    flow.set('sensor_metal', sensorMetal);\n    sensorItem = inputsStatus[6];\n    flow.set('sensor_item', sensorItem);\n    sensorCounter = inputsStatus[7];\n    flow.set('sensor_counter', sensorCounter);\n    sensorEndMetal = inputsStatus[8];\n    flow.set('sensor_end_metal', sensorEndMetal);\n    sensorEndItem = 0;\n    flow.set('sensor_end_item', sensorEndItem);\n\n//=========================================================\n\n    outputEnable = inputsStatus[0];\n    flow.set('output_enable', outputEnable);\n    outputMain = inputsStatus[1];\n    flow.set('output_main', outputMain);\n    outputForward = inputsStatus[2];\n    flow.set('output_forward', outputForward);\n    outputBackward = inputsStatus[3];\n    flow.set('output_backward', outputBackward);\n\n//=========================================================\n\n    buttonAuto = 0;\n    flow.set('button_auto', buttonAuto);\n    buttonDeployment = 0;\n    flow.set('button_deployment', buttonDeployment);\n    buttonRun = 0;\n    flow.set('button_run', buttonRun);\n    buttonReset = 0;\n    flow.set('button_reset', buttonReset);\n\n// TODO: Only in deployment mode\n//=========================================================\n\n    buttonEnable = 0;\n    flow.set('button_enable', buttonEnable);\n    buttonMain = 0;\n    flow.set('button_main', buttonMain);\n    buttonForward = 0;\n    flow.set('button_forward', buttonForward);\n    buttonBackward = 0;\n    flow.set('button_backward', buttonBackward);\n    buttonStart = 0;\n    flow.set('button_start', buttonStart);\n    buttonMetal = 0;\n    flow.set('button_metal', buttonMetal);\n    buttonItem = 0;\n    flow.set('button_item', buttonItem);\n    buttonCounter = 0;\n    flow.set('button_counter', buttonCounter);\n    buttonEndMetal = 0;\n    flow.set('button_end_metal', buttonEndMetal);\n    buttonEndItem = 0;\n    flow.set('button_end_item', buttonEndItem);\n\n//=========================================================\n\n    ledEnable = outputEnable;\n    flow.set('led_enable', ledEnable);\n    ledRun = 0;\n    flow.set('led_run', ledRun);\n    ledAuto = 0;\n    flow.set('led_auto', ledAuto);\n    ledMain = outputMain;\n    flow.set('led_main', ledMain);\n    ledForward = outputForward;\n    flow.set('led_forward', ledForward);\n    ledBackward = outputBackward;\n    flow.set('led_backward', ledBackward);\n    ledStart = sensorStart;\n    flow.set('led_start', ledStart);\n    ledMetal = sensorMetal;\n    flow.set('led_metal', ledMetal);\n    ledItem = sensorItem;\n    flow.set('led_item', ledItem);\n    ledCounter = sensorCounter;\n    flow.set('led_counter', ledCounter);\n    ledEndMetal = sensorEndMetal;\n    flow.set('led_end_metal', ledEndMetal);\n    ledEndItem = 0;\n    flow.set('led_end_item', ledEndItem);\n\n\n//=========================================================\n\n    localAuto = 0;\n    flow.set('local_auto', localAuto);\n    localRun = 0;\n    flow.set('local_run', localRun);\n    localReset = 0;\n    flow.set('local_reset', localReset);\n    localEndItem = 0;\n    flow.set('local_end_item', localEndItem);\n\n//=========================================================\n\n    counterStart = 0;\n    flow.set('counter_start', counterStart);\n    templCounterMetal = 0;\n    flow.set('templ_counter_metal', templCounterMetal);\n    templCounterItem = [];\n    flow.set('templ_counter_item', templCounterItem);\n    counterCounter = [];\n    flow.set('counter_counter', counterCounter);\n    counterEnd = [];\n    flow.set('counter_end', counterEnd);\n\n//=========================================================\n\n    outputsMatrix = [0, 0, 0, 0];\n    flow.set('outputs_matrix', outputsMatrix);\n    inputsMatrix = [0, 0, 0, 0, 0];\n    flow.set('inputs_matrix', inputsMatrix);\n\n//=========================================================\n    arr = [counterMetal, counterItem, templCounterMetal, templCounterItem.length, counterTotal, counterLiftMetal, counterLiftItem, counterStart, counterCounter.length, counterEnd.length];\n    msg1 = initialMessage(msg, arr);\n    msg1.topic = \"initial\";\n    msg1.alarm = 0;\n\n    msg2 = confirmOutputs(outputsMatrix);\n    msg2.topic = \"initial1\";\n\n//=========================================================\n\n    statusInitial = true;\n    context.set('status_initial', statusInitial);\n\n    // noinspection JSAnnotator\n    return [ null, msg1, msg2, null ];\n}\n\n// When lift limit is reached\n//=================================================================\n\nlet limitFlag = global.get('lift_limit_flag') || 0;\ncounterLiftMetal = global.get('counter_lift_metal');\ncounterLiftItem = global.get('counter_lift_item');\n\nlet limit = global.get('lift_limit') || 0;\nlet statusAlarm = context.get('status_alarm') || false;\nif((counterLiftMetal === limit || counterLiftItem === limit ) && statusAlarm === false) {\n    limitFlag = 1;\n    global.set('lift_limit_flag', limitFlag);\n    msg.forward = 0;\n    msg.backward = 0;\n    msg.main = 0;\n    msg.topic = \"server/main_stop\";\n    msg.alarm = 1;\n\n    msg1 = msg;\n    msg1.alarm = 1;\n    msg1.topic = \"lift/limit\";\n\n    statusAlarm = true;\n    context.set('status_alarm', statusAlarm);\n\n    // noinspection JSAnnotator\n    return [null, msg1, null, null];\n}\nelse if(counterLiftMetal < limit && counterLiftItem < limit) {\n    if(limitFlag === 1) {\n        limitFlag = 0;\n        global.set('lift_limit_flag', limitFlag);\n    }\n    statusAlarm = false;\n    context.set('status_alarm', statusAlarm);\n}\n\n// Work in mode auto\n//==================================================================\n\nlet currentEnable = inputsStatus[0];\noutputEnable = flow.get('output_enable') || 0;\nif(outputEnable !== currentEnable) {\n    outputEnable = currentEnable;\n    ledEnable = outputEnable;\n    flow.set('output_enable', outputEnable);\n    flow.set('led_enable', ledEnable);\n}\n\n// Auto\nif(localAuto !== ledAuto) {\n    ledAuto = localAuto;\n    flow.set('led_auto', ledAuto);\n}\n// Run\nif(localRun !== ledRun) {\n    ledRun = localRun;\n    flow.set('led_run', ledRun);\n}\n\nif(localEndItem !== ledEndItem) {\n    ledEndItem = localEndItem;\n    flow.set('led_end_item', ledEndItem);\n}\n\noutputMain = inputsStatus[1];\nlet currentMain = flow.get('output_main') || 0;\nif(outputMain !== currentMain) {\n    currentMain = outputMain;\n    ledMain = currentMain;\n    flow.set('output_main', currentMain);\n    flow.set('led_main', ledMain);\n}\n\noutputForward = inputsStatus[2];\nlet currentForward = flow.get('output_forward') || 0;\nif(outputForward !== currentForward) {\n    currentForward = outputForward;\n    ledForward = currentForward;\n    flow.set('output_forward', currentForward);\n    flow.set('led_forward', ledForward);\n}\n\noutputBackward = inputsStatus[3];\nlet currentBackward = flow.get('output_backward') || 0;\nif(outputBackward !== currentBackward) {\n    currentBackward = outputBackward;\n    ledBackward = currentBackward;\n    flow.set('output_backward', currentBackward);\n    flow.set('led_backward', ledBackward);\n}\n\nlet currentStart = inputsStatus[4];\nsensorStart = flow.get('sensor_start') || 0;\nif(sensorStart !== currentStart) {\n    sensorStart = currentStart;\n    ledStart = sensorStart;\n    flow.set('sensor_start', sensorStart);\n    flow.set('led_start', ledStart);\n    let oddStart = context.get('odd_start') || false;\n    if(flow.get('led_start') === 1 && oddStart === false) {\n        counterStart = flow.get('counter_start') || 0;\n        counterStart ++;\n        flow.set('counter_start', counterStart);\n        msg.count_start = counterStart;\n        msg1 = msg;\n\n        oddStart = true;\n        context.set('odd_start', oddStart);\n    }\n    else {\n        oddStart = false;\n        context.set('odd_start', oddStart);\n    }\n}\n\nlet currentMetal = inputsStatus[5];\nsensorMetal = flow.get('sensor_metal') || 0;\nif(sensorMetal !== currentMetal) {\n    sensorMetal = currentMetal;\n    ledMetal = sensorMetal;\n    flow.set('sensor_metal', sensorMetal);\n    flow.set('led_metal', ledMetal);\n    let oddMetal = context.get('odd_metal') || false;\n    if(flow.get('led_metal') === 1 && oddMetal === false) {\n        if (counterStart > templCounterMetal ) {\n\n            counterStart = flow.get('counter_start') || 0;\n            counterStart -= 1;\n            flow.set('counter_start', counterStart);\n            msg.count_start = counterStart;\n\n            counterMetal = global.get('counter_metal') || 0;\n            counterMetal ++;\n            global.set('counter_metal', counterMetal);\n            msg.count_metal = counterMetal;\n\n            templCounterMetal = flow.get('templ_counter_metal');\n            templCounterMetal ++;\n            flow.set('templ_counter_metal',templCounterMetal);\n            msg.templ_count_metal = templCounterMetal;\n\n            counterTotal = global.get('counter_total') || 0;\n            counterTotal ++;\n            global.set('counter_total', counterTotal);\n            msg.count_total = counterTotal;\n\n            msg1 = msg;\n            msg1.topic = \"metal/counter\";\n        }\n        oddMetal = true;\n        context.set('odd_metal', oddMetal);\n    }\n    else {\n        oddMetal = false;\n        context.set('odd_metal', oddMetal);\n    }\n}\n\nlet currentItem = inputsStatus[6];\nsensorItem = flow.get('sensor_item') || 0;\nif(sensorItem !== currentItem) {\n    sensorItem = currentItem;\n    ledItem = sensorItem;\n    flow.set('sensor_item', sensorItem);\n    flow.set('led_item', ledItem);\n    let oddItem = context.get('odd_item') || false;\n    if(flow.get('led_item') === 1 && oddItem === false) {\n        if (counterStart > 0 || templCounterMetal > 0) {\n            templCounterMetal = flow.get('templ_counter_metal');\n            let out = 0;\n            if (templCounterMetal > 0) {\n                out = 1;\n                templCounterMetal -= 1;\n                flow.set('templ_counter_metal', templCounterMetal);\n                msg.templ_count_metal = templCounterMetal;\n            }\n            else {\n\n                counterStart = flow.get('counter_start') || 0;\n                counterStart -= 1;\n                flow.set('counter_start', counterStart);\n                msg.count_start = counterStart;\n\n                counterItem = global.get('counter_item') || 0;\n                counterItem ++;\n                global.set('counter_item', counterItem);\n                msg.count_item = counterItem;\n\n                counterTotal = global.get('counter_total') || 0;\n                counterTotal ++;\n                global.set('counter_total', counterTotal);\n                msg.count_total = counterTotal;\n            }\n\n            templCounterItem = flow.get('templ_counter_item');\n            templCounterItem.push(out);\n            flow.set('templ_counter_item',templCounterItem);\n            msg.templ_count_item = templCounterItem.length;\n\n            msg1 = msg;\n            msg1.topic = \"item/counter\";\n        }\n        oddItem = true;\n        context.set('odd_item', oddItem);\n    }\n    else {\n        oddItem = false;\n        context.set('odd_item', oddItem);\n    }\n}\n\n\nlet currentCounter = inputsStatus[7];\nsensorCounter = flow.get('sensor_counter') || 0;\nif(sensorCounter !== currentCounter) {\n    sensorCounter = currentCounter;\n    ledCounter = sensorCounter;\n    flow.set('sensor_counter', sensorCounter);\n    flow.set('led_counter', ledCounter);\n    let oddCounter = context.get('odd_counter') || false;\n    if (flow.get('led_counter') === 1 && oddCounter === false) {\n        if (templCounterItem.length > 0 ) {\n\n            templCounterItem = flow.get('templ_counter_item');\n            let out = templCounterItem.shift();\n            flow.set('templ_counter_item', templCounterItem);\n            msg.templ_count_item = templCounterItem.length;\n\n            counterCounter = flow.get('counter_counter') || 0;\n            counterCounter.push(out);\n            flow.set('counter_counter', counterCounter);\n            msg.count_counter = counterCounter.length;\n\n            counterEnd = flow.get('counter_end') || [];\n            counterEnd.push(out);\n            flow.set('counter_end', counterEnd);\n            msg.count_end = counterEnd.length;\n\n// TODO: here output logic\n\n            msg1 = msg;\n            msg1.topic = \"counter/counter\";\n        }\n        oddCounter = true;\n        context.set('odd_counter', oddCounter);\n    } else {\n        oddCounter = false;\n        context.set('odd_counter', oddCounter);\n    }\n}\n\n\n\nlet currentEndMetal = inputsStatus[8];\nsensorEndMetal = flow.get('sensor_end_metal') || 0;\nif(sensorEndMetal !== currentEndMetal) {\n    sensorEndMetal = currentEndMetal;\n    ledEndMetal = sensorEndMetal;\n    flow.set('sensor_end_metal', sensorEndMetal);\n    flow.set('led_end_metal', ledEndMetal);\n    let oddEndMetal = context.get('odd_end_metal') || false;\n    if (flow.get('led_end_metal') === 1 && oddEndMetal === false) {\n\n        if (counterCounter.length > 0 && counterEnd.length > 0 && counterEnd[0] === 1) {\n\n            counterCounter = flow.get('counter_counter') || 0;\n            counterCounter.shift();\n            flow.set('counter_counter', counterCounter);\n            msg.count_counter = counterCounter.length;\n\n            counterEnd = flow.get('counter_end') || [];\n            counterEnd.shift();\n            flow.set('counter_end', counterEnd);\n            msg.count_end = counterEnd.length;\n\n            counterLiftMetal = global.get('counter_lift_metal') || 0;\n            counterLiftMetal++;\n            global.set('counter_lift_metal', counterLiftMetal);\n            msg.count_lift_metal = counterLiftMetal;\n\n// TODO: here logic\n\n            msg1 = msg;\n            msg1.topic = \"lift_metal/counter\";\n        }\n\n        oddEndMetal = true;\n        context.set('odd_end_metal', oddEndMetal);\n    }\n    else {\n        oddEndMetal = false;\n        context.set('odd_end_metal', oddEndMetal);\n    }\n}\n\nlet currentEndItem = flow.get('flag') || 0;\nsensorEndItem = flow.get('sensor_end_item') || 0;\nif(sensorEndItem !== currentEndItem) {\n    sensorEndItem = currentEndItem;\n    ledEndItem = sensorEndItem;\n    flow.set('sensor_end_item', sensorEndItem);\n    flow.set('led_end_item', ledEndItem);\n\n    if(currentEndItem === 1) {\n        currentEndItem = 0;\n        flow.set('flag', currentEndItem);\n    }\n\n    let oddEndItem = context.get('odd_end_item') || false;\n    if (flow.get('led_end_item') === 1 && oddEndItem === false) {\n\n        if (counterCounter.length > 0 && counterEnd.length > 0 && counterEnd[0] === 0) {\n\n            counterCounter = flow.get('counter_counter') || 0;\n            counterCounter.shift();\n            flow.set('counter_counter', counterCounter);\n            msg.count_counter = counterCounter.length;\n\n            counterEnd = flow.get('counter_end') || [];\n            counterEnd.shift();\n            flow.set('counter_end', counterEnd);\n            msg.count_end = counterEnd.length;\n\n            counterLiftItem = global.get('counter_lift_item') || 0;\n            counterLiftItem++;\n            global.set('counter_lift_item', counterLiftItem);\n            msg.count_lift_item = counterLiftItem;\n\n// TODO: here logic\n\n            msg1 = msg;\n            msg1.topic = \"lift_item/counter\";\n        }\n        oddEndItem = true;\n        context.set('odd_end_item', oddEndItem);\n    } \n    else {\n        oddEndItem = false;\n        context.set('odd_end_item', oddEndItem);\n    }\n}\n\nbuttonEnable = flow.get('button_enable') || 0;\nif(buttonEnable === 1) {\n    if(outputEnable === 1) {\n        outputEnable = 0;\n    }\n    else {\n        outputEnable = 1;\n    }\n    \n    flow.set('output_enable', outputEnable);\n    buttonEnable = 0;\n    flow.set('button_enable', buttonEnable);\n\n    outputsMatrix = flow.get('outputs_matrix');\n    outputsMatrix[0] = outputEnable;\n    flow.set('outputs_matrix', outputsMatrix);\n\n    msg2 = confirmOutputs(outputsMatrix);\n}\n\nbuttonReset = flow.get('button_reset') || 0;\nif(buttonReset === 1) {\n    flow.set('counter_start', 0);\n    flow.set('templ_counter_metal', 0);\n    flow.set('templ_counter_item', []);\n    flow.set('counter_counter', []);\n    flow.set('counter_end', []);\n    flow.set('local_auto', 0);\n    flow.set('local_run', 0);\n    let timer1 = 0;\n    flow.set('timer1', timer1); \n    let timer2 = 0;\n    flow.set('timer2', timer2); \n    let delay1 = 0;\n    flow.set('delay1', delay1); \n    let delay2 = 0;\n    flow.set('delay2', delay2); \n    global.set('counter_total', 0);\n    global.set('counter_metal', 0);\n    global.set('counter_item', 0);\n    global.set('counter_lift_metal', 0);\n    global.set('counter_lift_item', 0);\n\n    arr = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\n    msg1 = initialMessage(msg, arr);\n    msg1.topic = \"system/reset\";\n    msg1.alarm = 0;\n    \n    outputsMatrix = [0, 0, 0, 0];\n    flow.set('outputs_matrix', outputsMatrix);\n    msg2 = confirmOutputs(outputsMatrix);\n    msg2.topic = \"system/reset\";\n\n    buttonReset = 0;\n    flow.set('button_reset', buttonReset);\n}\n\noutputEnable = flow.get('output_enable') || 0;\nbuttonAuto = flow.get('button_auto') || 0;\nif(buttonAuto === 1) {\n    if(localAuto === 1) {\n        localAuto = 0;\n    }\n    else if(outputEnable === 1) {\n        localAuto = 1;\n    }\n    flow.set('local_auto', localAuto);\n    buttonAuto = 0;\n    flow.set('button_auto', buttonAuto);\n}\n\nbuttonRun = flow.get('button_run') || 0;\nif(buttonRun === 1) {\n    if(localRun === 1) {\n        localRun = 0;\n    }\n    else {\n        localRun = 1;\n    }\n    flow.set('local_run', localRun);\n    buttonRun = 0;\n    flow.set('button_run', buttonRun);\n}\n\nlet workMode = flow.get('local_auto') || 0;\nif (workMode === 0) {\n    buttonMain = flow.get('button_main') || 0;\n    if (buttonMain === 1) {\n        if (outputMain === 1) {\n            outputMain = 0;\n        } else {\n            outputMain = 1;\n        }\n        flow.set('output_main', outputMain);\n        buttonMain = 0;\n        flow.set('button_main', buttonMain);\n\n        outputsMatrix = flow.get('outputs_matrix');\n        outputsMatrix[1] = outputMain;\n        flow.set('outputs_matrix', outputsMatrix);\n\n        msg2 = confirmOutputs(outputsMatrix);\n    }\n\n    buttonForward = flow.get('button_forward') || 0;\n    if (buttonForward === 1) {\n        if (outputForward === 1) {\n            outputForward = 0;\n        } else {\n            outputForward = 1;\n        }\n        flow.set('output_forward', outputForward);\n        buttonForward = 0;\n        flow.set('button_forward', buttonForward);\n\n        outputsMatrix = flow.get('outputs_matrix');\n        outputsMatrix[2] = outputForward;\n        flow.set('outputs_matrix', outputsMatrix);\n\n        msg2 = confirmOutputs(outputsMatrix);\n    }\n\n    buttonBackward = flow.get('button_backward') || 0;\n    if (buttonBackward === 1) {\n        if (outputBackward === 1) {\n            outputBackward = 0;\n        } else {\n            outputBackward = 1;\n        }\n        flow.set('output_backward', outputBackward);\n        buttonBackward = 0;\n        flow.set('button_backward', buttonBackward);\n\n        outputsMatrix = flow.get('outputs_matrix');\n        outputsMatrix[3] = outputBackward;\n        flow.set('outputs_matrix', outputsMatrix);\n\n        msg2 = confirmOutputs(outputsMatrix);\n    }\n}\nelse {\n    let matrix = flow.get('outputs_matrix') || [];\n    delay1 = flow.get('delay1') || 0;\n    let current = inputsStatus.slice(0, 4);\n    let output = runAuto(matrix, delay1, delay2, counterEnd, counterStart, templCounterItem, counterCounter);\n    \n    if(current.join(',') === output.join(',')) {\n        msg2 = null;\n    }\n    else {\n        \n        flow.set('outputs_matrix', output);\n        msg2 = confirmOutputs(output);\n        msg2.topic = \"run/auto\";\n    }\n    \n    \n}\n\nbuttonStart = flow.get('button_start') || 0;\nif(buttonStart === 1) {\n    if(sensorStart === 1) {\n        sensorStart = 0;\n    }\n    else {\n        sensorStart = 1;\n    }\n    flow.set('sensor_start', sensorStart);\n    buttonStart = 0;\n    flow.set('button_start', buttonStart);\n\n    inputsMatrix = flow.get('inputs_matrix');\n    inputsMatrix[0] = sensorStart;\n    flow.set('inputs_matrix', inputsMatrix);\n\n    msg3 = confirmInputs(inputsMatrix);\n}\n\nbuttonMetal = flow.get('button_metal') || 0;\nif(buttonMetal === 1) {\n    if(sensorMetal === 1) {\n        sensorMetal = 0;\n    }\n    else {\n        sensorMetal = 1;\n    }\n    flow.set('sensor_metal', sensorMetal);\n    buttonMetal = 0;\n    flow.set('button_metal', buttonMetal);\n\n    inputsMatrix = flow.get('inputs_matrix');\n    inputsMatrix[1] = sensorMetal;\n    flow.set('inputs_matrix', inputsMatrix);\n\n    msg3 = confirmInputs(inputsMatrix);\n}\n\nbuttonItem = flow.get('button_item') || 0;\nif(buttonItem === 1) {\n    if(sensorItem === 1) {\n        sensorItem = 0;\n    }\n    else {\n        sensorItem = 1;\n    }\n    flow.set('sensor_item', sensorItem);\n    buttonItem = 0;\n    flow.set('button_item', buttonItem);\n\n    inputsMatrix = flow.get('inputs_matrix');\n    inputsMatrix[2] = sensorItem;\n    flow.set('inputs_matrix', inputsMatrix);\n\n    msg3 = confirmInputs(inputsMatrix);\n}\n\nbuttonCounter = flow.get('button_counter') || 0;\nif(buttonCounter === 1) {\n    if(sensorCounter === 1) {\n        sensorCounter = 0;\n    }\n    else {\n        sensorCounter = 1;\n    }\n    flow.set('sensor_counter', sensorCounter);\n    buttonCounter = 0;\n    flow.set('button_counter', buttonCounter);\n\n    inputsMatrix = flow.get('inputs_matrix');\n    inputsMatrix[3] = sensorCounter;\n    flow.set('inputs_matrix', inputsMatrix);\n\n    msg3 = confirmInputs(inputsMatrix);\n}\n\nbuttonEndMetal = flow.get('button_end_metal') || 0;\nif(buttonEndMetal === 1) {\n    if(sensorEndMetal === 1) {\n        sensorEndMetal = 0;\n    }\n    else {\n        sensorEndMetal = 1;\n    }\n    flow.set('sensor_end_metal', sensorEndMetal);\n    buttonEndMetal = 0;\n    flow.set('button_end_metal', buttonEndMetal);\n\n    inputsMatrix = flow.get('inputs_matrix');\n    inputsMatrix[4] = sensorEndMetal;\n    flow.set('inputs_matrix', inputsMatrix);\n\n    msg3 = confirmInputs(inputsMatrix);\n}\n\nbuttonEndItem = flow.get('button_end_item') || 0;\nif(buttonEndItem === 1) {\n    if(sensorEndItem === 1) {\n        sensorEndItem = 0;\n    }\n    else {\n        sensorEndItem = 1;\n    }\n    flow.set('sensor_end_item', sensorEndItem);\n\n    buttonEndItem = 0;\n    flow.set('button_end_item', buttonEndItem);\n\n    flagEndItem = sensorEndItem;\n    flow.set('flag_end_item', flagEndItem);\n\n    localEndItem = sensorEndItem;\n    flow.set('local_end_item', localEndItem);\n}\n\n// noinspection JSAnnotator\nreturn [ msg, msg1, msg2, msg3 ];","outputs":4,"noerr":0,"x":110,"y":660,"wires":[["30a21544.bc412a"],["fc68b117.6aeac"],["60e166d.5ee1798"],["60e166d.5ee1798"]]},{"id":"3fa8e5ba.c2c15a","type":"function","z":"100d3a36.d31996","name":"Backward","func":"let workMode = flow.get('local_auto') || 0;\nlet forward = flow.get('output_forward') || 0;\nif(workMode === 0 && forward === 0) {\n    flow.set('button_backward', 1);\n}","outputs":1,"noerr":0,"x":320,"y":2040,"wires":[[]]},{"id":"73b47b80.39f504","type":"debug","z":"100d3a36.d31996","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":20,"wires":[]},{"id":"80f9e39a.49bcb","type":"inject","z":"100d3a36.d31996","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["ed706794.a47738"]]},{"id":"abbd4ab2.359a58","type":"catch","z":"100d3a36.d31996","name":"CATCH ERROR","scope":null,"uncaught":false,"x":140,"y":20,"wires":[["73b47b80.39f504"]]},{"id":"ed706794.a47738","type":"function","z":"100d3a36.d31996","name":"Initial","func":"if(msg.payload === 1) {\n    flow.set('initial', 1);\n    \n}\nelse {\n    flow.set('initial', 0);\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["58ff1272.bc11bc"]]},{"id":"58ff1272.bc11bc","type":"change","z":"100d3a36.d31996","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[["322a3b10.17fe34"]]},{"id":"322a3b10.17fe34","type":"delay","z":"100d3a36.d31996","name":"50ms","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":100,"wires":[["ed706794.a47738"]]},{"id":"9483c1fd.1938","type":"comment","z":"100d3a36.d31996","name":"Error Catch","info":"Catchig every error in groups.","x":90,"y":60,"wires":[]},{"id":"d5d6b8e7.284c08","type":"comment","z":"100d3a36.d31996","name":"Initial","info":"Initializing displays with I/O data at startup.","x":70,"y":140,"wires":[]},{"id":"fd2ca378.f6c95","type":"comment","z":"100d3a36.d31996","name":"Read","info":"Reads data from the server.","x":70,"y":400,"wires":[]},{"id":"b5bdc73a.d9d3f8","type":"comment","z":"100d3a36.d31996","name":"Write Outputs","info":"Writes data to the server's outputs.","x":90,"y":2080,"wires":[]},{"id":"d35b0337.c12b2","type":"function","z":"100d3a36.d31996","name":"Auto/Man","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_auto') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["4b6d1256.c4880c"]]},{"id":"5d7e4e77.d3f42","type":"function","z":"100d3a36.d31996","name":"Enable","func":"flow.set('button_enable', 1);","outputs":1,"noerr":0,"x":320,"y":1840,"wires":[[]]},{"id":"f2d168f9.f5f408","type":"function","z":"100d3a36.d31996","name":"Reset","func":"flow.set('button_reset', 1);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1800,"wires":[[]]},{"id":"e8f8de8e.c666f","type":"comment","z":"100d3a36.d31996","name":"Write Inputs","info":"Writes data to the server's inputs.","x":90,"y":2380,"wires":[]},{"id":"698b0199.e033","type":"function","z":"100d3a36.d31996","name":"gl/limit","func":"global.set('lift_limit', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1480,"wires":[["44520d88.0f9594"]]},{"id":"22ce8b40.6b6e44","type":"function","z":"100d3a36.d31996","name":"alm","func":"let status = context.get('status') || -1;\nif(msg.alarm === undefined) {\n    return null;\n}\nlet input = msg.alarm;\nif(input !== status) {\n    if(input === 1) {\n        msg.color = \"red\";\n        msg.payload = \"the elevator limit is reached\"\n    }\n    else {\n        msg.color = \"lime\";\n        msg.payload = \"OK\"\n    }\n    context.set('status', input);\n    return msg;\n}","outputs":1,"noerr":0,"x":290,"y":1320,"wires":[["d482ca7f.b01908","dd022034.ca2ac"]]},{"id":"b3f1873d.82f898","type":"mqtt out","z":"100d3a36.d31996","name":"SCADA Output","topic":"scada","qos":"","retain":"","broker":"30f5a67d.75de7a","x":680,"y":1410,"wires":[]},{"id":"8de649f.6e988b8","type":"mqtt in","z":"100d3a36.d31996","name":"Scada Input","topic":"scada/view","qos":"2","datatype":"auto","broker":"30f5a67d.75de7a","x":130,"y":1520,"wires":[["b497161.c2552e8"]]},{"id":"b497161.c2552e8","type":"json","z":"100d3a36.d31996","name":"Json","property":"payload","action":"","pretty":false,"x":110,"y":1580,"wires":[["e74503c9.bceaf"]]},{"id":"e74503c9.bceaf","type":"switch","z":"100d3a36.d31996","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"button/limit","vt":"str"},{"t":"eq","v":"button/auto","vt":"str"},{"t":"eq","v":"button/main","vt":"str"},{"t":"eq","v":"system/reset","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":1660,"wires":[["adae90f6.7e236"],["9208b4db.ef1978"],["188d59e9.ea2d96"],["44b3a79d.276be8"]]},{"id":"188d59e9.ea2d96","type":"change","z":"100d3a36.d31996","name":"MAIN","rules":[{"t":"set","p":"topic","pt":"msg","to":"button/main","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1680,"wires":[["7b94e82b.8f3b48"]]},{"id":"9208b4db.ef1978","type":"change","z":"100d3a36.d31996","name":"AUTO","rules":[{"t":"set","p":"topic","pt":"msg","to":"button/auto","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1640,"wires":[["83fa6e70.a018f"]]},{"id":"44b3a79d.276be8","type":"change","z":"100d3a36.d31996","name":"Reset","rules":[{"t":"set","p":"topic","pt":"msg","to":"system/reset","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1720,"wires":[["f2d168f9.f5f408"]]},{"id":"adae90f6.7e236","type":"change","z":"100d3a36.d31996","name":"Limit","rules":[{"t":"set","p":"topic","pt":"msg","to":"button/limit","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1600,"wires":[["82cbf3b7.49637"]]},{"id":"6aff4508.590e4c","type":"function","z":"100d3a36.d31996","name":"Start Counter","func":"msg.payload = {\n    \"value\": msg.count_start,\n    \"topic\": \"start/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":960,"wires":[["9d4b1cdf.f1f22"]]},{"id":"dd022034.ca2ac","type":"function","z":"100d3a36.d31996","name":"Alarm Message","func":"let textColor = \"black\";\nif(msg.color === \"red\") {\n    textColor = \"white\";\n}\nmsg.payload = {\n    \"value\": msg.payload,\n    \"topic\": \"lift/alarm\",\n    \"color\": msg.color,\n    \"textColor\": textColor\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1320,"wires":[["9d4b1cdf.f1f22"]]},{"id":"c1c154ec.b712c8","type":"function","z":"100d3a36.d31996","name":"Lift Metal Counter","func":"msg.payload = {\n    \"value\": msg.count_lift_metal,\n    \"topic\": \"lift_metal/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1240,"wires":[["9d4b1cdf.f1f22"]]},{"id":"4248e32.cbc4e1c","type":"function","z":"100d3a36.d31996","name":"Lift Item Counter","func":"msg.payload = {\n    \"value\": msg.count_lift_item,\n    \"topic\": \"lift_item/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1280,"wires":[["9d4b1cdf.f1f22"]]},{"id":"1135b524.7ad74b","type":"function","z":"100d3a36.d31996","name":"End Position Counter","func":"msg.payload = {\n    \"value\": msg.count_end,\n    \"topic\": \"end_pos/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1200,"wires":[["9d4b1cdf.f1f22"]]},{"id":"54a15ee0.71514","type":"function","z":"100d3a36.d31996","name":"Inputs buff","func":"let inputs = msg.payload;\nflow.set('inputs_status', inputs);\n\n\n//let inputsStatus = flow.get('inputs_status') || [];\n//let outputsStatus = flow.get('outputs_status') || [];\n//return [ msg, msg, msg, msg, msg, msg, msg, msg, msg, msg ];","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"e166572c.d3c708","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_start') || -1;\nlet current = msg.count_start;\nif(msg.count_start === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_start', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":960,"wires":[["17e0d950.51bc67"],["6aff4508.590e4c"]]},{"id":"c475d24b.d3ca2","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_end') || -1;\nlet current = msg.count_end;\nif(msg.count_end === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_end', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":1200,"wires":[["979aed92.cb33e"],["1135b524.7ad74b"]]},{"id":"b4881323.8281e","type":"function","z":"100d3a36.d31996","name":"buff","func":"let status = context.get('status') || -1;\nlet input = msg.count_lift_metal;\nif(msg.count_lift_metal === undefined) {\n    return [null, null];\n}\nif(input !== status) {\n    context.set('status', input);\n    return [msg, msg];\n}","outputs":2,"noerr":0,"x":290,"y":1240,"wires":[["494b7cf5.e426c4"],["c1c154ec.b712c8"]]},{"id":"3373ae87.e93bc2","type":"function","z":"100d3a36.d31996","name":"buff","func":"let status = context.get('status') || -1;\nif(msg.count_lift_item === undefined) {\n    return [null, null];\n}\nlet input = msg.count_lift_item;\nif(input !== status) {\n    context.set('status', input);\n    return [msg, msg];\n}","outputs":2,"noerr":0,"x":290,"y":1280,"wires":[["27e47f9d.46bef"],["4248e32.cbc4e1c"]]},{"id":"44520d88.0f9594","type":"function","z":"100d3a36.d31996","name":"limit for scada","func":"msg.payload = {\n    \"value\":msg.payload,\n    \"topic\":\"button/limit\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1430,"wires":[["9d4b1cdf.f1f22"]]},{"id":"ea755d3a.bf161","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_metal') || -1;\nlet current = msg.count_metal;\nif(msg.count_metal === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_metal', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":1040,"wires":[["fc48c46d.298dd8"],["1fd33f64.c89ea1"]]},{"id":"1fd33f64.c89ea1","type":"function","z":"100d3a36.d31996","name":"Metal Counter","func":"msg.payload = {\n    \"value\": msg.count_metal,\n    \"topic\": \"metal/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[["9d4b1cdf.f1f22"]]},{"id":"54732144.56007","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_item') || -1;\nlet current = msg.count_item;\nif(msg.count_item === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_item', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":1120,"wires":[["11638dd0.7526e2"],["55a6fd30.b71344"]]},{"id":"99d3e7a5.4de498","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_total') || -1;\nlet current = msg.count_total;\nif(msg.count_total === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_total', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":1160,"wires":[["ae877f4.02ace8"],["95174cb3.2f48c"]]},{"id":"55a6fd30.b71344","type":"function","z":"100d3a36.d31996","name":"Item Counter","func":"msg.payload = {\n    \"value\": msg.count_item,\n    \"topic\": \"nonmetal/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1120,"wires":[["9d4b1cdf.f1f22"]]},{"id":"95174cb3.2f48c","type":"function","z":"100d3a36.d31996","name":"Total Counter","func":"msg.payload = {\n    \"value\": msg.count_total,\n    \"topic\": \"total/counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1160,"wires":[["9d4b1cdf.f1f22"]]},{"id":"cbcc43bd.18db2","type":"function","z":"100d3a36.d31996","name":"","func":"msg.payload = { \n    'fc': 3,\n    'unitid': 1,\n    'address': 16384 ,\n    'quantity': 9\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":300,"wires":[["2d94007b.b03a2"]]},{"id":"fbf03a3b.542588","type":"inject","z":"100d3a36.d31996","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.02","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":350,"wires":[["cbcc43bd.18db2","c0323da1.420ea","c669f337.26a86","d3a70a40.b84e88","1ef60483.d7718b"]]},{"id":"97b0bdf3.ef866","type":"function","z":"100d3a36.d31996","name":"Run","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_run') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["687d072b.9e2df8"]]},{"id":"d62d1a53.eb9178","type":"function","z":"100d3a36.d31996","name":"End Item","func":"let status = context.get('status') || 0;\nlet isFirst = flow.get('initial') || 0;\nlet input = flow.get('led_end_item') || 0;\nif(isFirst === 1) {\n        if(input === 0) {\n            msg.payload = \"OFF\";\n            msg.color = \"red\";\n            context.set('status', 0);\n            return msg;\n        }\n        else {\n            msg.payload = \"ON\";\n            msg.color = \"lime\";\n            context.set('status', 1);\n            return msg;\n        }\n}\nelse {\n    if(input === status) {\n        return null;\n    }\n    else if(input === 1) {\n       msg.payload = \"ON\";\n        msg.color = \"lime\";\n        context.set('status', 1);\n        return msg; \n    }\n    else {\n        msg.payload = \"OFF\";\n        msg.color = \"red\";\n        context.set('status', 0);\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":880,"wires":[["4779360e.81e968"]]},{"id":"30a21544.bc412a","type":"function","z":"100d3a36.d31996","name":"","func":"return msg;","outputs":1,"noerr":0,"x":270,"y":650,"wires":[["17ee9674.49bdaa","d35b0337.c12b2","97b0bdf3.ef866","6ef1ec94.66ac34","8597fff9.8bdb1","3612d1bb.b35bae","91450045.efaa9","c1d23ecd.49a73","112b2684.6735b9","1548158c.4d835a","be4ca974.a0e3e8","d62d1a53.eb9178"]]},{"id":"fc68b117.6aeac","type":"function","z":"100d3a36.d31996","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1020,"wires":[["b4881323.8281e","c475d24b.d3ca2","e166572c.d3c708","3373ae87.e93bc2","22ce8b40.6b6e44","ea755d3a.bf161","54732144.56007","99d3e7a5.4de498","644a365c.d2ed68","a4853bd1.90b258"]]},{"id":"f83a1560.98e938","type":"function","z":"100d3a36.d31996","name":"Run","func":"flow.set('button_run', 1);","outputs":1,"noerr":0,"x":310,"y":1880,"wires":[[]]},{"id":"83fa6e70.a018f","type":"function","z":"100d3a36.d31996","name":"Auto","func":"flow.set('button_auto', 1);","outputs":1,"noerr":0,"x":310,"y":1920,"wires":[[]]},{"id":"f753a719.306fe8","type":"function","z":"100d3a36.d31996","name":"End Item","func":"flow.set('button_end_item', 1);","outputs":1,"noerr":0,"x":320,"y":2340,"wires":[[]]},{"id":"644a365c.d2ed68","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_temp_metal') || -1;\nlet current = msg.templ_count_metal;\nif(msg.templ_count_metal === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_temp_metal', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":1000,"wires":[["bd022f93.9ab6f"],["edec2869.5ace08"]]},{"id":"edec2869.5ace08","type":"function","z":"100d3a36.d31996","name":"Templ Metal Counter","func":"msg.payload = {\n    \"value\": msg.templ_count_metal,\n    \"topic\": \"templ/metal_counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1000,"wires":[["9d4b1cdf.f1f22"]]},{"id":"a4853bd1.90b258","type":"function","z":"100d3a36.d31996","name":"buff","func":"let last = context.get('last_templ_item') || -1;\nlet current = msg.templ_count_item;\nif(msg.templ_count_item === undefined) {\n    return [null, null];\n}\nif(current !== last) {\n    context.set('last_templ_item', current);\n    return [ msg, msg ];\n}","outputs":2,"noerr":0,"x":290,"y":1080,"wires":[["a1f3ae51.09f56"],["ee609bd6.3db8e8"]]},{"id":"ee609bd6.3db8e8","type":"function","z":"100d3a36.d31996","name":"Templ Item Counter","func":"msg.payload = {\n    \"value\": msg.templ_count_item,\n    \"topic\": \"templ/item_counter\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["9d4b1cdf.f1f22"]]},{"id":"d3a70a40.b84e88","type":"function","z":"100d3a36.d31996","name":"? set flag","func":"let action = flow.get('flag_end_item') || 0;\nif(action === 1) {\n    action = 0;\n    flow.set('flag_end_item', action);\n    msg.payload = 1;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["1b0541ab.25777e"]]},{"id":"1b0541ab.25777e","type":"delay","z":"100d3a36.d31996","name":"5ms","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":400,"wires":[["f9392c63.3cce8"]]},{"id":"f9392c63.3cce8","type":"function","z":"100d3a36.d31996","name":"flag = 1","func":"flow.set('flag', 1);\n","outputs":1,"noerr":0,"x":700,"y":400,"wires":[[]]},{"id":"67242323.690e6c","type":"modbus-response","z":"100d3a36.d31996","name":"","registerShowMax":20,"x":370,"y":240,"wires":[]},{"id":"2d94007b.b03a2","type":"modbus-flex-getter","z":"100d3a36.d31996","name":"Input_Registers","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"f0bcec22.ce4c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":220,"wires":[["54a15ee0.71514"],["67242323.690e6c"]]},{"id":"60e166d.5ee1798","type":"modbus-flex-write","z":"100d3a36.d31996","name":"","showStatusActivities":false,"showErrors":false,"server":"f0bcec22.ce4c","x":230,"y":900,"wires":[[],[]]},{"id":"82cbf3b7.49637","type":"ui_numeric","z":"100d3a36.d31996","name":"limit","label":"Lift limit","tooltip":"","group":"6d1b9f8d.e336e","order":12,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"limit/display","format":"{{value}}","min":"1","max":"3","step":1,"x":310,"y":1530,"wires":[["698b0199.e033"]]},{"id":"34d51540.6f23ba","type":"ui_button","z":"100d3a36.d31996","name":"button/enable","group":"6d1b9f8d.e336e","order":2,"width":3,"height":1,"passthru":false,"label":"ENABLE","tooltip":"","color":"black","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"button/enable","x":140,"y":1840,"wires":[["5d7e4e77.d3f42"]]},{"id":"8233d06.6d64d3","type":"ui_button","z":"100d3a36.d31996","name":"button/backward","group":"6d1b9f8d.e336e","order":8,"width":3,"height":1,"passthru":false,"label":"BACKWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/backward","x":140,"y":2040,"wires":[["3fa8e5ba.c2c15a"]]},{"id":"84ecf970.b0b168","type":"ui_button","z":"100d3a36.d31996","name":"button/forward","group":"6d1b9f8d.e336e","order":6,"width":3,"height":1,"passthru":false,"label":"FORWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/forward","x":140,"y":2000,"wires":[["851e2dd6.75d51"]]},{"id":"eb0f9acf.952258","type":"ui_button","z":"100d3a36.d31996","name":"button/main","group":"6d1b9f8d.e336e","order":4,"width":3,"height":1,"passthru":true,"label":"MAIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/main","x":130,"y":1960,"wires":[["7b94e82b.8f3b48"]]},{"id":"ee756c79.cda7e","type":"ui_button","z":"100d3a36.d31996","name":"button/A#M","group":"6d1b9f8d.e336e","order":10,"width":3,"height":1,"passthru":false,"label":"Auto","tooltip":"","color":"yellow","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"auto","x":130,"y":1920,"wires":[["83fa6e70.a018f"]]},{"id":"331a17ca.aac7c8","type":"ui_button","z":"100d3a36.d31996","name":"button/start","group":"638f774a.62d268","order":2,"width":3,"height":1,"passthru":false,"label":"SENSOR START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/start","x":130,"y":2140,"wires":[["5b7fdf4c.8f4bf"]]},{"id":"f0741b10.15d158","type":"ui_button","z":"100d3a36.d31996","name":"button/metal","group":"638f774a.62d268","order":4,"width":3,"height":1,"passthru":false,"label":"SENSOR METAL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/metal","x":130,"y":2180,"wires":[["db2491f7.c4495"]]},{"id":"a02128c6.fe69f8","type":"ui_button","z":"100d3a36.d31996","name":"button/item","group":"638f774a.62d268","order":6,"width":3,"height":1,"passthru":false,"label":"SENSOR ITEM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/item","x":130,"y":2220,"wires":[["a68de64e.0743e8"]]},{"id":"23efece8.51fe74","type":"ui_button","z":"100d3a36.d31996","name":"button/counter","group":"638f774a.62d268","order":8,"width":3,"height":1,"passthru":false,"label":"SENSOR COUNTER","tooltip":"","color":"","bgcolor":"#FF00FF","icon":"","payload":"1","payloadType":"num","topic":"button/counter","x":140,"y":2260,"wires":[["53177a5e.294eb4"]]},{"id":"335cf961.f19c56","type":"ui_button","z":"100d3a36.d31996","name":"button/end_metal","group":"638f774a.62d268","order":10,"width":3,"height":1,"passthru":false,"label":"SENSOR END METAL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/end_metal","x":150,"y":2300,"wires":[["e070a02b.f41d2"]]},{"id":"f3ca2c3d.ce5be","type":"ui_button","z":"100d3a36.d31996","name":"button/reset","group":"6d1b9f8d.e336e","order":13,"width":6,"height":1,"passthru":false,"label":"RESET","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"system/reset","x":130,"y":1800,"wires":[["f2d168f9.f5f408"]]},{"id":"ba08f8f.c8fa708","type":"ui_button","z":"100d3a36.d31996","name":"button/run","group":"6d1b9f8d.e336e","order":12,"width":3,"height":1,"passthru":false,"label":"Run","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"run","x":120,"y":1880,"wires":[["f83a1560.98e938"]]},{"id":"43d22f68.f101f","type":"ui_button","z":"100d3a36.d31996","name":"button/end_item","group":"638f774a.62d268","order":12,"width":3,"height":1,"passthru":false,"label":"SENSOR END ITEM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"button/end_item","x":140,"y":2340,"wires":[["f753a719.306fe8"]]},{"id":"1dba9d5e.9c82a3","type":"ui_text","z":"100d3a36.d31996","group":"6d1b9f8d.e336e","order":1,"width":3,"height":1,"name":"output/enable","label":"Enable","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":620,"y":440,"wires":[]},{"id":"4704ed76.5658d4","type":"ui_text","z":"100d3a36.d31996","group":"6d1b9f8d.e336e","order":3,"width":3,"height":1,"name":"output/main","label":"Main Band","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":610,"y":560,"wires":[]},{"id":"c727293b.6bc188","type":"ui_text","z":"100d3a36.d31996","group":"6d1b9f8d.e336e","order":5,"width":3,"height":1,"name":"output/forward","label":"Distribution Forward","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":620,"y":600,"wires":[]},{"id":"ae68e05c.e85f8","type":"ui_text","z":"100d3a36.d31996","group":"6d1b9f8d.e336e","order":7,"width":3,"height":1,"name":"output/backward","label":"Distribution Backward","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":620,"y":640,"wires":[]},{"id":"d69f0b7f.cb4e18","type":"ui_text","z":"100d3a36.d31996","group":"638f774a.62d268","order":1,"width":3,"height":1,"name":"sensor/start","label":"Start","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":610,"y":680,"wires":[]},{"id":"85f3bffa.82dd6","type":"ui_text","z":"100d3a36.d31996","group":"638f774a.62d268","order":3,"width":3,"height":1,"name":"sensor/metal","label":"Metal","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":610,"y":720,"wires":[]},{"id":"7763b048.a6f7","type":"ui_text","z":"100d3a36.d31996","group":"638f774a.62d268","order":5,"width":3,"height":1,"name":"sensor/item","label":"Item","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":610,"y":760,"wires":[]},{"id":"9db2fcde.a7617","type":"ui_text","z":"100d3a36.d31996","group":"638f774a.62d268","order":7,"width":3,"height":1,"name":"sensor/counter","label":"Counter","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":620,"y":800,"wires":[]},{"id":"4f19f74c.428328","type":"ui_text","z":"100d3a36.d31996","group":"638f774a.62d268","order":9,"width":3,"height":1,"name":"sensor/end_metal","label":"End Metal","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":630,"y":840,"wires":[]},{"id":"4b6d1256.c4880c","type":"ui_text","z":"100d3a36.d31996","group":"6d1b9f8d.e336e","order":9,"width":3,"height":1,"name":"auto/man","label":"Auto","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":600,"y":480,"wires":[]},{"id":"ae877f4.02ace8","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":1,"width":6,"height":1,"name":"totalcounter","label":"TOTAL COUNT","format":"{{msg.count_total}}","layout":"col-center","x":450,"y":1160,"wires":[]},{"id":"fc48c46d.298dd8","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":2,"width":3,"height":1,"name":"metalcounter","label":"METAL COUNT","format":"{{msg.count_metal}}","layout":"row-spread","x":450,"y":1040,"wires":[]},{"id":"11638dd0.7526e2","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":3,"width":3,"height":1,"name":"itemcounter","label":"ITEM COUNT","format":"{{msg.count_item}}","layout":"row-spread","x":450,"y":1120,"wires":[]},{"id":"17e0d950.51bc67","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":6,"width":3,"height":1,"name":"start/position","label":"START","format":"{{msg.count_start}}","layout":"row-spread","x":450,"y":960,"wires":[]},{"id":"494b7cf5.e426c4","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":4,"width":3,"height":1,"name":"lift/metal_counter","label":"LIFT-METAL","format":"{{msg.count_lift_metal}}","layout":"row-spread","x":470,"y":1240,"wires":[]},{"id":"979aed92.cb33e","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":7,"width":3,"height":1,"name":"end/position","label":"END","format":"{{msg.count_end}}","layout":"row-spread","x":450,"y":1200,"wires":[]},{"id":"27e47f9d.46bef","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":5,"width":3,"height":1,"name":"lift/item_counter","label":"LIFT-ITEM","format":"{{msg.count_lift_item}}","layout":"row-spread","x":460,"y":1280,"wires":[]},{"id":"d482ca7f.b01908","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":8,"width":6,"height":1,"name":"lift_alarm","label":"ALARM","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":440,"y":1320,"wires":[]},{"id":"687d072b.9e2df8","type":"ui_text","z":"100d3a36.d31996","group":"6d1b9f8d.e336e","order":11,"width":3,"height":1,"name":"run","label":"Run","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":590,"y":520,"wires":[]},{"id":"4779360e.81e968","type":"ui_text","z":"100d3a36.d31996","group":"638f774a.62d268","order":11,"width":3,"height":1,"name":"sensor/end_item","label":"End Item","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":630,"y":880,"wires":[]},{"id":"bd022f93.9ab6f","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":2,"width":3,"height":1,"name":"templ/metal_counter","label":"TEMPL METAL COUNT","format":"{{msg.templ_count_metal}}","layout":"row-spread","x":480,"y":1000,"wires":[]},{"id":"a1f3ae51.09f56","type":"ui_text","z":"100d3a36.d31996","group":"4392abbf.4f1904","order":3,"width":3,"height":1,"name":"templ/item_counter","label":"TEMPL ITEM COUNT","format":"{{msg.templ_count_item}}","layout":"row-spread","x":470,"y":1080,"wires":[]},{"id":"d73535d5.a10c98","type":"delay","z":"100d3a36.d31996","name":"delay1","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":320,"wires":[["21037dd7.a2b012"]]},{"id":"3b25a67b.f71c4a","type":"delay","z":"100d3a36.d31996","name":"delay2","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":360,"wires":[["21037dd7.a2b012"]]},{"id":"c669f337.26a86","type":"function","z":"100d3a36.d31996","name":"","func":"let input1 = flow.get('timer1') || 0;\nlet status = context.get('status') || false;\nif(input1 === 1 && status === false) {\n    msg.topic = \"timer1\";\n    context.set('status', true);\n    return [msg, null];\n}\nif(input1 === 0 && status === true) {\n    context.set('status', false);\n}","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["d73535d5.a10c98"]]},{"id":"21037dd7.a2b012","type":"function","z":"100d3a36.d31996","name":"","func":"let topic = msg.topic;\nif(topic === \"timer1\") {\n    flow.set('delay1', 1);\n    msg.payload = flow.get('delay1') || 0;\n    return msg;\n}\nelse if(topic === \"timer2\") {\n    flow.set('delay2', 1);\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":340,"wires":[[]]},{"id":"1ef60483.d7718b","type":"function","z":"100d3a36.d31996","name":"","func":"let input2 = flow.get('timer2') || 0;\nlet status = context.get('status') || false;\nif(input2 === 1 && status === false) {\n    msg.topic = \"timer2\";\n    context.set('status', true);\n    return [null, msg];\n}\nif(input2 === 0 && status === true) {\n    context.set('status', false);\n}","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["3b25a67b.f71c4a"]]},{"id":"9d4b1cdf.f1f22","type":"function","z":"100d3a36.d31996","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1360,"wires":[["b3f1873d.82f898"]]},{"id":"30f5a67d.75de7a","type":"mqtt-broker","z":"","name":"MyMQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0bcec22.ce4c","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"6d1b9f8d.e336e","type":"ui_group","z":"","name":"Control","tab":"d10a04b.5b3d1f8","disp":true,"width":"6","collapse":false},{"id":"638f774a.62d268","type":"ui_group","z":"","name":"Sensors","tab":"d10a04b.5b3d1f8","disp":true,"width":"6","collapse":false},{"id":"4392abbf.4f1904","type":"ui_group","z":"","name":"Display","tab":"d10a04b.5b3d1f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d10a04b.5b3d1f8","type":"ui_tab","z":"","name":"Lenta","icon":"dashboard","disabled":false,"hidden":false}]