scada_view_flows.json.txt
[{"id":"6407ffcd.54a45","type":"tab","label":"SCADA view","disabled":false,"info":""},{"id":"6123a1a2.f30dc8","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":6,"width":3,"height":1,"name":"start/position","label":"START","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":260,"wires":[]},{"id":"9eb5bf80.d6e308","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":4,"width":3,"height":1,"name":"lift/metalcounter","label":"LIFT-METAL","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":340,"wires":[]},{"id":"6dc41608.014868","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":7,"width":3,"height":1,"name":"end/position","label":"END","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":420,"wires":[]},{"id":"f3ac6fb.dec491","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":5,"width":3,"height":1,"name":"lift/nonmetalcounter","label":"LIFT-NONMETAL","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":380,"wires":[]},{"id":"e3a5c6d0.e3b8c","type":"ui_button","z":"6407ffcd.54a45","name":"main","group":"97b4aa71.290638","order":11,"width":3,"height":1,"passthru":true,"label":"MAIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"value\":1,\"topic\":\"button/main\"}","payloadType":"json","topic":"button/main","x":130,"y":120,"wires":[["91ffeb89.a74368"]]},{"id":"1f9289e3.465e2e","type":"ui_numeric","z":"6407ffcd.54a45","name":"lift_limit","label":"Lift limit","tooltip":"","group":"97b4aa71.290638","order":9,"width":0,"height":0,"passthru":false,"topic":"button/limit","format":"{{value}}","min":"1","max":"3","step":1,"x":500,"y":220,"wires":[["b16b1250.e57b2"]]},{"id":"b16b1250.e57b2","type":"function","z":"6407ffcd.54a45","name":"glb/set_limit/msg","func":"global.set('lift_limit', msg.payload);\nmsg.payload = {\n    \"value\":msg.payload,\n    \"topic\":\"button/limit\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["91ffeb89.a74368"]]},{"id":"723acdc1.03c7e4","type":"ui_button","z":"6407ffcd.54a45","name":"reset","group":"97b4aa71.290638","order":12,"width":6,"height":1,"passthru":false,"label":"RESET","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"{\"value\":1,\"topic\":\"system/reset\"}","payloadType":"json","topic":"system/reset","x":130,"y":80,"wires":[["91ffeb89.a74368"]]},{"id":"2463dcea.2deeec","type":"ui_button","z":"6407ffcd.54a45","name":"auto/man","group":"97b4aa71.290638","order":10,"width":3,"height":1,"passthru":false,"label":"Auto","tooltip":"","color":"yellow","bgcolor":"","icon":"","payload":"{\"value\":1,\"topic\":\"button/auto\"}","payloadType":"json","topic":"auto","x":140,"y":40,"wires":[["91ffeb89.a74368"]]},{"id":"cdff5644.bf287","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":1,"width":6,"height":1,"name":"totalcounter","label":"TOTAL COUNT","format":"{{msg.payload}}","layout":"col-center","x":530,"y":540,"wires":[]},{"id":"1bcd08b1.28c09f","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":2,"width":3,"height":1,"name":"metalcounter","label":"METAL COUNT","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":460,"wires":[]},{"id":"ee9894c4.790618","type":"ui_text","z":"6407ffcd.54a45","group":"97b4aa71.290638","order":3,"width":3,"height":1,"name":"nonmetalcounter","label":"NONMETAL COUNT","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":500,"wires":[]},{"id":"91ffeb89.a74368","type":"mqtt out","z":"6407ffcd.54a45","name":"SCADA View Output","topic":"scada/view","qos":"","retain":"","broker":"","x":400,"y":60,"wires":[]},{"id":"cec963fd.58df68","type":"mqtt in","z":"6407ffcd.54a45","name":"SCADA View Input","topic":"scada","qos":"2","datatype":"auto","broker":"","x":170,"y":160,"wires":[["72125963.e6f4d"]]},{"id":"72125963.e6f4d","type":"json","z":"6407ffcd.54a45","name":"","property":"payload","action":"","pretty":false,"x":150,"y":260,"wires":[["f086698.c1cf918"]]},{"id":"f086698.c1cf918","type":"switch","z":"6407ffcd.54a45","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"button/limit","vt":"str"},{"t":"eq","v":"start/counter","vt":"str"},{"t":"eq","v":"lift/alarm","vt":"str"},{"t":"eq","v":"lift_metal/counter","vt":"str"},{"t":"eq","v":"lift_nonmetal/counter","vt":"str"},{"t":"eq","v":"end_pos/counter","vt":"str"},{"t":"eq","v":"metal/counter","vt":"str"},{"t":"eq","v":"nonmetal/counter","vt":"str"},{"t":"eq","v":"total/counter","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":150,"y":380,"wires":[["9919c055.6abc48"],["47b1aa9e.04386c"],["40cd392b.b4c9a8"],["6fa151c9.ad328"],["b10cdb3.ca043a8"],["dc9b941.ddcfae8"],["3902e7a1.5a7218"],["cf739e79.80f3b8"],["cd8dfb64.cd8bd"]]},{"id":"47b1aa9e.04386c","type":"change","z":"6407ffcd.54a45","name":"Start Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"start/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["6123a1a2.f30dc8"]]},{"id":"40cd392b.b4c9a8","type":"ui_template","z":"6407ffcd.54a45","group":"97b4aa71.290638","name":"ALARM","order":8,"width":0,"height":0,"format":"\n<!--<div class=\"field\">\n    <spam class=\"content\">{{msg.payload.value}}</spam>\n</div>\n<spam class=\"label ng-binding\" ng-bind-html=\"me.item.getLabel()\"></spam> \n<spam class=\"value ng-binding\" ng-bind-html=\"me.item.getText()\"><font color=\"black\"></font></spam>\n-->\n<!--<md-card ui-card-size=\"6x1\" layout=\"row\" layout-align=\"space-between center\" class=\"nr-dashboard-text ng-scope _md layout-row layout-align-space-between-center visible\" ng-class=\"{'nr-dashboard-disabled':me.item.disabled}\" style=\"left: 1px; top: 379px; width: 318px; height: 48px;\">-->\n\t<div class=\"wrapper visible\" ui-card-size=\"6x1\" layout=\"row\" layout-align=\"space-between center\">\n\t\t\n\t\t    <p>ALARM</p>\n\t\t    <p style=\"margin-lef: auto\"><b>{{msg.payload.value}}</b></p>\n\t\t\n\t</div>\n<!--</md-card>-->\n<!--<div ng-bind-html=\"msg.payload\"></div>-->\n<style>\n.wrapper {\n    width: 100%;\n    height: 100%;\n    border: 2px solid black;\n    border-radius: 0.3rem;\n    display: flex;\n    /*align-items: center;*/\n    flex-wrap: 1;\n    background-color: {{msg.payload.color}};\n    z-index: 1;\n    padding: 0px;\n}\n\n.wrapper > p {\n    background-color: {{msg.payload.color}} !important;\n    color: {{msg.payload.textColor}} !important;\n    padding: 0 10px 0 10px;\n}\n\n.wrapper > ul li {\n    display: block;\n}\n\n\n/*.field {\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    padding-left: 0;\n    margin-left: 0;\n    background-color: {{msg.payload.color}};\n    width: 312px;\n    height: 48px;\n    }\n .content {\n    display: block;\n    background-color: {{msg.payload.color}};\n    color: black;\n    text-align: center;\n}ng-scope _md layout-row layout-align-space-between-center\n*/\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":360,"y":300,"wires":[[]]},{"id":"6fa151c9.ad328","type":"change","z":"6407ffcd.54a45","name":"Lift Metal Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"lift_metal/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["9eb5bf80.d6e308"]]},{"id":"b10cdb3.ca043a8","type":"change","z":"6407ffcd.54a45","name":"Lift Nonmetal Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"lift_nonmetal/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["f3ac6fb.dec491"]]},{"id":"dc9b941.ddcfae8","type":"change","z":"6407ffcd.54a45","name":"End Position Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"end_pos/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["6dc41608.014868"]]},{"id":"9919c055.6abc48","type":"change","z":"6407ffcd.54a45","name":"Lift limit","rules":[{"t":"set","p":"topic","pt":"msg","to":"button/limit","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["1f9289e3.465e2e"]]},{"id":"3902e7a1.5a7218","type":"change","z":"6407ffcd.54a45","name":"Metal Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"metal/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["1bcd08b1.28c09f"]]},{"id":"cf739e79.80f3b8","type":"change","z":"6407ffcd.54a45","name":"Nonmetal Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"nonmetal/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["ee9894c4.790618"]]},{"id":"cd8dfb64.cd8bd","type":"change","z":"6407ffcd.54a45","name":"Total Counter","rules":[{"t":"set","p":"topic","pt":"msg","to":"total/counter","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":540,"wires":[["cdff5644.bf287"]]},{"id":"97b4aa71.290638","type":"ui_group","z":"","name":"Display","tab":"7969c7bb.3d1bc","order":1,"disp":true,"width":6,"collapse":false},{"id":"7969c7bb.3d1bc","type":"ui_tab","z":"","name":"Scada","icon":"dashboard","order":10,"disabled":false,"hidden":true}]